[SddmGreeterTheme]
Name=Harmless Game
Description=An atmospheric high-stakes login screen inspired by Buckshot Roulette (Qt6 compatible)
Author=yaeblan
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=yaeblan@example.com
Theme-Id=Harmless-Game
Theme-API=2.0
QtVersion=6
